@import url("normalize.css");

html,
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	margin: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; /*Расстояние от края элемента до края другог элемента*/
}

.titles {
  margin-top: 48px; /*Устанавливает величину отступа от верхнего края элемента*/
  color: #007765; /*Определяет цвет текста элемента*/
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 64px; /*Определяет размер шрифта элемента*/
  line-height: 75px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}

.container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  max-width: 1219px; /*Устанавливает максимальную ширину элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  background-color: #007765; /*Определяет цвет фона элемента*/
  height: 84px; /*Устанавливает высоту содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  position: fixed; /*Устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице*/
  top: 0; /*Расстояние от верхнего края родительского элемента до верхнего края дочернего элемента*/
  left: 0;
  z-index: 999; /*Размещением по z-оси*/
}

.nav_container {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
}

.link {
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  text-decoration: none; /*Добавляет оформление текста*/
  color: #fff; /*Определяет цвет текста элемента*/
}

.jumbotron {
  margin: auto;
  width: 100%;
  background: url(../img/Jumbotron.png); /*Установит фон элемента*/
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  background-position: center center;
  margin-top: 84px; /* Устанавливает величину отступа от верхнего края элемента */
  padding-top: 160px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 160px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

.main_title {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 75px; /*Определяет размер шрифта элемента*/
  line-height: 84px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
}

.theProblem {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 55px;
  padding-bottom: 95px;
}

.text_theProblem {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 32px; /*Определяет размер шрифта элемента*/
  line-height: 37px; /*Задаёт высоту строки текста*/
}

.span {
  font-weight: 700; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
}

.hero {
  width: 100%;
  background: url(../img/Hero.png);
  background-size: cover; /*Масштабирует фоновое изображение, согласно заданным размерам*/
  background-position: center center;
  padding-top: 128px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 128px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

.text_hero {
  width: 100%; /*Устанавливает ширину содержимого элемента*/
  font-style: italic; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 48px; /*Определяет размер шрифта элемента*/
  line-height: 56px; /*Задаёт высоту строки текста*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
}

.PPC {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 48px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 92px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

.text_PPC {
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 32px; /*Определяет размер шрифта элемента*/
  line-height: 37px; /*Задаёт высоту строки текста*/
  color: #000; /*Определяет цвет текста элемента*/
}

.pp_logo {
  width: 184px;
  height: 45px;
}

.header_dash {
  margin: 0;
  padding: 0; 
  display: inline;
  font-weight: 500; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  text-decoration: none; /*Добавляет оформление текста*/
  color: #fff; /*Определяет цвет текста элемента*/
}

.logo {
  float: left; /*Остальные элементы будут обтекать его с других сторон*/
  padding-right: 48px;
}

.logo_img {
  width: 115px; /*Устанавливает ширину содержимого элемента*/
  height: 115px; /*Устанавливает высоту содержимого элемента*/
}

.TheTeam {
  background-color: #fff; /*Определяет цвет фона элемента*/
  padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 112px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

.img {
  width: 350px; /*Устанавливает ширину содержимого элемента*/
  height: 283px; /*Устанавливает высоту содержимого элемента*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  flex-flow: column wrap;
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  padding-bottom: 55px; /*Устанавливает значение поля от нижнего края содержимого элемента*/
}

.name {
  font-weight: 700; /*Устанавливает насыщенность шрифта*/
  font-size: 24px; /*Определяет размер шрифта элемента*/
  line-height: 28px; /*Задаёт высоту строки текста*/
  color: #007765; /*Определяет цвет текста элемента*/
}

.team {
  padding-top: 58px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
}

.figure {
  margin: 0; /*Расстояние от края элемента до края другог элемента*/
  padding: 0; /*Устанавливает значение полей вокруг содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photo {
  width: 168px; /*Устанавливает ширину содержимого элемента*/
  height: 168px; /*Устанавливает высоту содержимого элемента*/
}

.footer {
  width: 100%;
  padding-top: 48px; /*Устанавливает значение поля от верхнего края содержимого элемента*/
  padding-bottom: 64px;
  background-color: #333; /*Определяет цвет фона элемента*/
  height: auto; /*Устанавливает высоту содержимого элемента*/
  text-align: center; /*Определяет горизонтальное выравнивание текста в пределах элемента*/
}

.text {
  width: 540px; /*Устанавливает ширину содержимого элемента*/
  height: 64px; /*Устанавливает высоту содержимого элемента*/
  margin: 0 auto; /*Расстояние от края элемента до края другог элемента*/
  color: #fff; /*Определяет цвет текста элемента*/
  font-style: normal; /*Определяет начертание шрифта — обычное, курсивное или наклонное*/
  font-weight: normal; /*Устанавливает насыщенность шрифта*/
  font-size: 18px; /*Определяет размер шрифта элемента*/
  line-height: auto; /*Задаёт высоту строки текста*/
  text-align: top;
}
